h1{
    text-align: center;
color: lightseagreen;}

th{
    background-color: coral;
color: cornflowerblue;}

.table{
    text-align: center;
border-spacing: 0px;}

body{
    background-color: thistle;
    color: navy;
}

td{
    border: whitesmoke 2px solid;
padding: 4px;
color: ivory;}


