h1{
    text-align: center;
color: lightseagreen;
font-size: 48px;}

th{
    background-color: coral;
color: cornflowerblue;}

table{
    margin: auto;
text-align: center;
border-spacing: 0px;}


body{
    background-color: thistle;
    color: navy;
}

td{
    border: whitesmoke 2px solid;
padding: 4px;
color: ivory;}

caption{color: firebrick;
font-size: 40px;}



